<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @profile.weight %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Education:</strong>
  <%= @profile.education %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<% @profile.images.each_with_index do |attachment, index| %>
<p>
  <strong>Images:</strong>
  <%= image_tag url_for(attachment) %>
  <%# link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
</p>
<% end %>
<%= link_to 'Edit', edit_profile_path(@profile) %>
<%# link_to 'Back', profiles_path %>
<p>
  <strong>views:</strong>
  <%= @profile.count %>
</p>