<%= link_to "sign_up", new_user_registration_path, method: :get %></br>
<%= link_to "login", new_user_session_path, method: :get %></br>
<%# link_to "sign_out", destroy_user_session_path, method: :delete %>

<%= form_tag(search_path, remote: :false, method: :post) do %>
  <p>
    <%= search_field_tag :search, params[:search], placeholder: "search" %>
    <%= submit_tag "search" %>
  </p>
  <div id="searches"><%= render 'getsearchdata' %></div>
<% end %>
<%# search_field_tag :search, params[:search], placeholder: "search", onkeyup:"search_function(this.value);" %>

<%= form_with(url: filter_path, remote: :false, method: :post) do |form| %>
  <div class="field">
    <%= form.radio_button :gender, 'Female' %> Female
    <%= form.radio_button :gender, 'Male' %> Male
    <%= form.radio_button :gender, 'All' %> All
  </div>
  <div class="actions">
    <%= submit_tag "filter" %>
  </div>
  <div id="filters"><%= render 'getfilterdata' %></div>
<% end %>

<b>Sort_by:</b></br>
<%= link_to "name", sort_name_path, remote: :false, method: :post %>
<div id="sortnames"><%= render 'getsortnamedata' %></div>
<%= link_to "age", sort_age_path, remote: :false, method: :post %>
<div id="sortages"><%= render 'getsortnamedata' %></div>
<%# <script type="text/javascript">
  $('#search_submit').submit( function(data) {
    // alert("dhidfb");
    // alert(data);
    console.log(data);
  });
</script> %>


<%# <script type="text/javascript">
  $(".search_companies").keyup(function() {
    $.ajax({
      url:  <%= search_path %>
      <%# data: {search: $(this).serialize()} %>
    <%# }); %>
  <%# }); %>
<%# </script> %>

<%# <script type="text/javascript"> %>
<%# function search_function(value) { %>
  <%# // $.ajax({ %>
    <%# <url: "search_path %>
    <%# method: 'GET', %>
    <%# dataType: 'json', %>
    <%# data: { search: value }, %>
    <%# success: function(data){ %>
        <%# console.log(data); %>
        <%# // data.results.forEach(function(v){ %>
          <%# // console.log(v.name); %>
        <%# // }); %>
    <%# }, %>
    <%# error: function(xhr, ajaxOptions, thrownError) { %>
      <%# // alert(xhr.status); %>
      <%# // alert(thrownError); %>
    <%# } %>
  <%# }); %>
<%# } %>
<%# </script> %>